$tablet-screen: 500px;
$desktop-screen: 1100px;

// colors
$color-header-blue: #0080cb;
$color-header-light-blue: #80D0C7;
$color-white: white;


// offsets
$header-size: 100px;
$footer-panel-size: 100px;
