@import "src/styles/variables.scss";

.pagination {
  display: flex;
  column-gap: 3px;
  &__button {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    background: $color-header-blue;

    border: none;

    font-weight: bold;
    color: $color-white;

    width: 36px;
    height: 36px;

    &:disabled {
      cursor: default;
      background: $color-header-light-blue;
    }

    &._current {
      border: 4px solid $color-header-light-blue;

      width: 35px;
      height: 35px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


}
