@import "src/styles/variables.scss";

.poke-list-item-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  &__img {
    height: 80%;
  }

  &__title {
    color: $color-header-blue;
  }

  &__button {
    cursor: pointer;
  }
}
